#nav{
    height: 32px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    width: 100%;
    position: relative;
    background: #f2f2f2;
    z-index: 99999;
    border-bottom: 1px solid #e5e5e5;
}
#title{
    height: 32px;
    width: 1230px;
    color: #999;
    position: relative;
    margin: 0 153px;
}
.left{
    width: 218px;
    height: 32px;
    line-height: 32px;
    float: left;
    padding-left: 20px;
}
.left a{
    padding-left: 20px;
    color: #999;
}
.left a:hover{
    text-decoration: none;
    color: #FF0036;
}
.right{
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 0;
    top: 0;
}
.right li{
    position: relative;
    padding:0 18px;
    float: left;
}
.right li a{
    color: #999;
}
.right li a:hover{
    text-decoration: none;
    color: #FF0036;
    background: #ffffff;
}
.right li :hover b{
    transform: rotate(-180deg);
}
.right li b{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.right li .iconfont{
    font-size: 12px;
}
.tubiao{
    position: absolute;
    left: 1px;
    top: 1px;
    color: #FF0036;
}
#header{
    height: 130px;
    width: 100%;
}
.tmall{
    width: 400px;
    height: 150px;
    float: left;
}
.tmall img{
    width: 240px;
    height: 130px;
    margin-left: 160px;
}
.search{
    margin-left: 480px;
    padding-top: 50px;
    width: 630px;
    height: 40px;
}
.search input{
    width: 491px;
    height: 36px;
    float: left;
    border: solid #FF0036;
    font-size: 14px;
}
.search button{
    width: 130px;
    height: 41px;
    background: #FF0036;
    border: solid #FF0036;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
}
#category-type{
    width: 200px;
    height: 36px;
    margin-left: 170px;
    background: #FF0036;
    padding-left: 10px;
}
#category-type .iconfont{
    float: left;
}
#category-type .daohang{
    color: #ffffff;
    width: 40px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    margin-top: -10px;
    display: block;
    float: left;
}
.text{
    width: 120px;
    height: 36px;
    /* margin-left: 50px; */
    display: inline-block;
    margin-top: -30px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}