#nav{
    height: 32px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    width: 100%;
    position: relative;
    background: #f2f2f2;
    z-index: 99999;
    border-bottom: 1px solid #e5e5e5;
}
#title{
    height: 32px;
    width: 1230px;
    color: #999;
    position: relative;
    margin: 0 153px;
}
.left{
    width: 218px;
    height: 32px;
    line-height: 32px;
    float: left;
    padding-left: 20px;
}
.left a{
    padding-left: 20px;
    color: #999;
}
.left a:hover{
    text-decoration: none;
    color: #FF0036;
}
.right{
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 0;
    top: 0;
}
.right li{
    position: relative;
    padding:0 18px;
    float: left;
}
.right li a{
    color: #999;
}
.right li a:hover{
    text-decoration: none;
    color: #FF0036;
    background: #ffffff;
}
.right li :hover b{
    transform: rotate(-180deg);
}
.right li b{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.right li .iconfont{
    font-size: 12px;
}
.tubiao{
    position: absolute;
    left: 1px;
    top: 1px;
    color: #FF0036;
}
#header{
    height: 130px;
    width: 100%;
}
.tmall{
    width: 400px;
    height: 130px;
    float: left;
}
.tmall img{
    width: 240px;
    height: 130px;
    margin-left: 150px;
}
.search{
    margin-left: 480px;
    padding-top: 50px;
    width: 630px;
    height: 40px;
}
.search input{
    width: 491px;
    height: 36px;
    float: left;
    border: solid #FF0036;
    font-size: 14px;
}
.search button{
    width: 130px;
    height: 41px;
    background: #FF0036;
    border: solid #FF0036;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
}
#category-type{
    width: 200px;
    height: 36px;
    margin-left: 160px;
    background: #FF0036;
    /* padding-left: 10px; */
    float: left;
}
#category-type .daohang{
    color: #ffffff;
    width: 30px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
    display: block;
    float: left;
}
.text{
    width: 120px;
    height: 36px;
    display: inline-block;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
}
#kind .kind-img{
    width: 100px;
    height: 35px;
    float: left;
    /* margin-left: 5px; */
    margin-top: 4px;
    color: #333;
}
.kind-img img{
    width: 100px;
    height: 30px;
}
#kind a{
    height: 35px;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    font-weight: 600;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    position: relative;
    margin-top: 7px;
}
#bg-left{
    background: #FF0036;
    display: block;
    position: absolute;
    top: 199px;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: 99;
}
.nomal-nav{
    margin-left: 160px;
    background-color: rgba(0,0,0,.55);
    width: 200px;
    height: 500px;
    position: relative;
    z-index: 11;
}
.nomal-nav li{
    width: 100%;
    height: 31px;
}
.nomal-nav li:hover .sub-menu{
    display: block;
}
.nomal-nav li:hover{
    background: #ffffff;
}
.nomal-nav li:hover span{
    color: #FF0036;
}
.nomal-nav li:hover a{
    color: #FF0036;
}
.nomal-nav span{
    margin-left: 6px;
    color: #ffffff;
    width: 16px;
    height: 31px;
}
.nomal-nav a{
    color: #ffffff;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.nomal-nav .sub-menu{
    width: 852px;
    height: 500px;
    margin-left: 200px;
    background: #ffffff;
    display: none;
    position: absolute;
    top: 0;
}
.nomal-nav .sub-menu p{
    width:80px;
    height: 30px;
    margin-top: 8px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 900;
    float: left;
}
.nomal-nav .sub-menu .sub-text{
    margin-top: 8px;
}
.nomal-nav .sub-menu .sub-text a{
    color: #000000;
}
#img-box .img-list li{
    margin-left: 180px;
    margin-top: -500px;
    width: 1000px;
    height: 500px;
}
#img-box .img-list li img{
    display: none;
}
#img-box .img-list .first img{
    display: block;
}
